// Color theme from coolors.co
// https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$background-primary: #edf2f4;
$background-secondary: #a8dadc;
$background-blue: #457b9d;
$background-dark: #1d3557;
$red-imperial: #e63946;

$text-dark: #0a0a0a;
$text-light: #fff;
