// Color theme from coolors.co
// https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d80032
$background-primary: #edf2f4;
$background-secondary: #8d99ae;
$background-dark: #2b2d42;
$red-imperial: #ef233c;
$red-crimson: #d80032;

$text-dark: #0a0a0a;
$text-light: #fff;
