.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .title {
    top: 0px;
    position: absolute;
  }

  .typing {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
