@import './variables';

.typing-box {
  background-color: $background-secondary;
  width: 100%;
  max-width: 40rem;

  .current {
    color: $text-current;
  }

  .error {
    color: $text-error;
  }

  .done {
    color: $text-done;
  }

  .word {
    color: $text-dark;
  }
}
