@import './variables';

.typing-box {
  background-color: $background-secondary;
  // width: 100%;
  // max-width: 40rem;
  .word {
    color: $text-dark;
  }

  .current {
    color: $text-current;
  }

  .error {
    color: $text-error;
  }

  .done {
    color: $text-done;
  }
}
